.home-content {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}

.home-content .bg-img {
    width: 100%;
}

.home-content header {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.home-content header {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.home-content header div {
    display: flex;
    align-items: center;
    font-size: medium;
    color: var(--primary);
    gap: 1rem;
}

.home-content header h1 {
    font-weight: 600;
}

.home-content header h2 {
    font-weight: 500;
    font-size: medium;
    font-style: italic;
    color: var(--foreground);
}

.home-content header svg {
    font-size: xx-large;
}

.home-content .chat {
    height: 74vh;
}

.home-content textarea {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    font-size: small;
    outline: none;
    overflow-y: auto;
    resize: none;
    max-height: 15vh;
    width: 95%;
    transition: height 0.2s ease;
}

.input-message {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.input-message svg {
    cursor: pointer;
    color: var(--primary);
    transition: all ease-out .3s;
    opacity: .8;
}

.input-message svg:hover {
    opacity: .6;
}

.chat {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: .5rem;
}

.message {
    width: 47%;
    padding: 1rem;
    margin-bottom: 1.2rem;
}

.reply {
    background-color: var(--secondaryVariant);
    border-radius: 1rem 1rem 1rem 0;
}

.send {
    background-color: var(--terciary);
    align-self: flex-end;
    border-radius: 1rem 1rem 0rem 1rem;
}

.message p {
    font-size: small;
}

.chat button {
    display: flex;
    gap: .6rem;
    color: var(--primary);
    background-color: transparent;
    align-items: center;
    border: 0;
    width: 10rem;
    cursor: pointer;
    transition: all ease-out .3s;
}

.chat h4 {
    font-weight: 400;
    font-size: small;
    font-style: italic;
    position: absolute;
    margin: 16rem 0 0 40rem
}

.chat h4 span {
    color: var(--primary);
}

input[type='file'] {
    display: none;
}


.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.pop-up-content {
    background-color: white;
    width: 32rem;
    height: 70%;
    border-radius: 10px;
    padding: 1.6rem;
}

.pop-up-content .quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    gap: 1.2rem;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pop-up-content .quiz::-webkit-scrollbar {
    display: none;
}


.pop-up-content .quiz img {
    width: 100%;
}

.pop-up-content .quiz h2 {
    font-size: large;
    font-weight: 600;
    margin-top: -.4rem;
}

.pop-up-content .quiz .quiz-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.pop-up-content .quiz .quiz-header h3 {
    font-size: small;
    font-weight: 500;
    padding: .2rem .8rem;
    color: var(--primary);
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: rgb(255, 207, 194);
    opacity: .7;
}

.pop-up-content .quiz .option {
    list-style: none;
    width: 90%;
    padding: .8rem 1.6rem;
    font-size: small;
    background-color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-out .3s;
}

.pop-up-content .quiz .option.correct {
    background-color: var(--primaryVariant);
    color: white;
}

.pop-up-content .quiz .option.wrong {
    background-color: var(--primary);
    color: white;
}

.pop-up-content .quiz .option:hover {
    opacity: .7;
}

.pop-up-content .quiz svg {
    cursor: pointer;
    transition: all ease-out .3s;
    font-size: larger;
    color: var(--primary);
}

.pop-up-content .quiz button:hover {
    opacity: .7;
}