.navbar {
    background-color: var(--primary);
    padding: 1.6rem 2.7rem;
    display: flex;
    flex-direction: column;
    color: var(--foreground);
}

.navbar header {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin: 0 0 1rem -1rem;
    cursor: pointer;
}

.navbar header h1 {
    font-size: x-large;
    font-weight: 600;

}

.navbar header svg {
    font-size: x-large;
}

.nav-menu {
    margin-left: -1rem;
}

.nav-menu ul {
    font-weight: 500;
    margin-bottom: 1rem;
}

.nav-menu li {
    list-style: none;
    margin-bottom: 1rem;
    margin-left: -.6rem;
    width: 110%;
    font-size: small;
    cursor: pointer;
    padding: .6rem;
    transition: all ease-out .3s;
    border-radius: .5rem;
}

.nav-menu li:hover{
    background-color: var(--primaryVariant);
}

.navbar button {
    padding: .5rem 1rem;
    width: 120%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    background-color: var(--primaryVariant);
    border: none;
    cursor: pointer;
    margin: auto 0 .5rem -1rem;
    transition: all ease-out .3s;
}

.navbar button:hover {
    opacity: .7;
}