.form-content h1 {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: large;
    font-weight: 500;
    margin: .2rem 0 1.3rem 0;
}

.form-content h2 {
    font-size: medium;
    font-weight: 400;
}

.form-group {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary);
    padding: .6rem;
    margin: 1rem 0;
    border-radius: .5rem;
}

.form-group label {
    margin-bottom: 6px;
    position: absolute;
    margin-top: -1.2rem;
    background-color: white;
    font-size: small;
    padding: 0 .4rem;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
}

.form-row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.form-row .form-group {
    flex: 1;
}

.form-row .form-group input,
.form-row .form-group select {
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    left: -1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: transparent;
    border: 0;
    display: flex;
    gap: .6rem;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    align-items: center;
    cursor: pointer;
    transition: all ease-out .3s;
}

.buttons button:hover {
    opacity: .7;
}

.buttons button[type='submit']{
    background-color: var(--terciary);
}