.main {
    height: 92vh;
    margin: 1.6rem;
}

.bg-img {
    height: 100%;
    width: 100%;
    margin: -1.6rem;
    background-image: url('../../public/assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: .3;
    z-index: -1;
}

.main header {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--primary);

}

.main header h1 {
    font-size: x-large;
    font-weight: 600;
}

.main header svg {
    font-size: x-large;
}

.main h2 {
    font-size: large;
    font-weight: 500;
    align-self: flex-start;
    margin-left: 2.4rem;
    color: var(--foreground);
}

.content {
    height: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}

.login-card {
    background-color: rgba(255, 255, 255, .4);
    display: flex;
    padding: 1.2rem 0;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 35%;
    border-radius: 1rem;
    box-shadow: 0px 2px 12px rgba(192, 54, 0, 0.2);
    transition: all ease-out .3s;
}

.login-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.login-card fieldset {
    padding: .6rem;
    width: 24rem;
    color: var(--foreground);
    border: 1px solid var(--foreground);
    border-radius: 5px;
}

.login-card fieldset legend {
    font-weight: 500;
    padding: 0 .4rem;
}

.login-card input {
    width: 96%;
    padding: 0 .6rem;
    padding-right: 1rem;
    outline: none;
    border: none;
    color: var(--secondary);
    background-color: transparent;
    transition: all ease-out .3s;
}

.login-card button {
    padding: .4rem 2.4rem;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    margin-top: .6rem;
    transition: all ease-out .3s;
}

.login-card button:hover {
    opacity: .8;
}

.login-card fieldset button {
    background-color: transparent;
    color: var(--secondary);
    margin: 0;
    padding: 0 .6rem;
}