@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  display: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;

  --primary: rgb(231, 67, 2);
  --primaryVariant:rgb(40, 159, 96);
  --foreground: rgb(22, 22, 22);
  --secondary: rgb(55, 55, 54);
  --secondaryVariant:rgb(250, 147, 92);
  --terciary: rgb(225, 224, 222);
}

.flex-content {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1.6rem;
  overflow-y: auto;
}

*::-webkit-scrollbar {
    width: .6rem;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: .5rem;
    border: 2px solid transparent;
    background-clip: content-box;
}